{% extends 'basee.html.twig' %}

{% block title %}Patient index
{% endblock %}

{% block body %}
	<h3>Patient index</h3>
	<div style="margin-bottom:2%;float:right">
		<a href="{{ path('patient_new') }}">
			<button type="button" class="btn btn-success">Create new</button>
		</a>
	</div>
	<table class="table">
		<thead style="background-color:midnightblue;color:white;">
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Regime</th>
				<th>service</th>
				<th>Date entrée</th>
				<th>Date Sortie</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% if patients %}
				{% for patient in patients %}
					<tr>
						<td>{{ patient.nom }}</td>
						<td>{{ patient.prenom }}</td>
						<td>{{ patient.typeRegime_al }}</td>
						<td>{{patient.nomService}}</td>
						<td>{{ patient.dateEntree |date('d/m/Y') }}</td>
						<td>{{ patient.dateSortie |date('d/m/Y') }}</td>
						<td>
							<button type="button" class="btn btn-info">
								<a href="{{ path('patient_show', {'id': patient.id}) }}" class="userButton">show</a>
							</button>
							<button type="button" class="btn btn-primary">
								<a href="{{ path('patient_edit', {'id': patient.id}) }}" class="userButton">edit</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endif %}
		</tbody>
	</table>


{% endblock %}
