{% extends 'basee.html.twig' %}

{% block title %}Patient
{% endblock %}

{% block body %}
	<h1>Patient</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ patient.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ patient.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ patient.prenom }}</td>
			</tr>
			<tr>
				<th>Regime</th>
				<td>{{ patient.regime }}</td>
			</tr>
			<tr>
				<th>Service</th>
				<td>{{ patient.Service }}</td>
			</tr>

		</tbody>
	</table>

	<div class="btn-group ml-3 float-right mb-2" role="groupe">
		<a href="{{ path('patient_index') }}">
			<button class="btn btn-outline-secondary">Back</button>
		</a>
		<div class="ml-2 mr-2">

			{{ include('patient/_delete_form.html.twig') }}
		</div>
		<a href="{{ path('patient_edit', {'id': patient.id}) }}">
			<button class="btn btn-outline-secondary">edit</button>
		</a>

	{% endblock %}
