{% extends 'base.html.twig' %}
{% block title %}Detaile Service
{% endblock %}
{% block body %}
	<h1>
		Détailes Service
	</h1>
	<table class="table">
		<thead style="background-color:midnightblue;color:white;">
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Date entrée</th>
				<th>date Sortie</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
				<tr>
					<td>{{service.id}}</td>
					<td>{{service.nom}}</td>
					<td>{{service.prenom}}</td>
					<td>{{ service.dateSortie  }}</td>
					<td>{{ service.dateSortie  }}</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
