{% extends 'base.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}
	<h3>SERVICES</h3>
	<div style="margin-bottom:2%;float:right">
		<a href="{{ path('service_new') }}">
			<button type="button" class="btn btn-success">Create new</button>
		</a>
	</div>
	<table class="table">
		<thead style="background-color:midnightblue;color:white;">
			<tr>
				{# <th scope="col">#</th> #}
				<th>Id</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>Nom</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>actions</th>
			</tr>

		</thead>
		<tbody>

			{% for service in services %}
				<tr scope="row">
					<td>{{ service.id }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ service.nom }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>

						<button class="btn btn-info">
							<a href="{{ path('service_show', {'id': service.id}) }}" class="userButton">show</a>
						</button>


						<button class="btn btn-primary">
							<a href="{{ path('service_edit', {'id': service.id}) }}" class="userButton">edit</a>
						</button>


						<button class="btn btn-success">
							<a href="{{ path('service_detaile', {'id': service.id}) }}" class="userButton">Détail</a>
						</button>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tr>
</tbody></table>{% endblock %}
