{% extends 'base.html.twig' %}

{% block title %}RegimeAL
{% endblock %}

{% block body %}
	<h1>RegimeAL</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ regime_a_l.id }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{ regime_a_l.type }}</td>
			</tr>
		</tbody>
	</table>
	<div class="btn-group ml-3 float-right mb-2" role="groupe">
		<a href="{{ path('regime_a_l_index') }}">
			<button class="btn btn-outline-secondary">Back</button>
		</a>
		<div class="ml-2 mr-2">
			{{ include('regime_al/_delete_form.html.twig') }}
		</div>
		<a href="{{ path('regime_a_l_edit', {'id': regime_a_l.id}) }}">
			<button class="btn btn-outline-secondary">edit</button>
		</a>
	{% endblock %}
