{% extends 'base.html.twig' %}

{% block title %}RegimeAL
{% endblock %}

{% block body %}
	<h1>RegimeAL</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ regime_a_l.id }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{ regime_a_l.type }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('regime_a_l_index') }}">
		<button type="button" class="btn btn-outline-secondary">back to list</button>
	</a>

	<a href="{{ path('regime_a_l_edit', {'id': regime_a_l.id}) }}">
		<button type="button" class="btn btn-outline-secondary">edit</button>
	</a>

	{{ include('regime_al/_delete_form.html.twig') }}
{% endblock %}
