{% extends 'basee.html.twig' %}

{% block title %}CadreMedicale index
{% endblock %}

{% block body %}
	<h1>CadreMedicale index</h1>
	<div style="margin-bottom:2%;float:right">
		<a href="{{ path('cadre_medicale_new') }}">
			<button type="button" class="btn btn-success">Create new</button>
		</a>
	</div>
	<table class="table">
		<thead style="background-color:midnightblue;color:white;">
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Service</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cadre_medicale in cadre_medicales %}
				<tr>
					<td>{{ cadre_medicale.id }}</td>
					<td>{{ cadre_medicale.nom }}</td>
					<td>{{ cadre_medicale.prenom }}</td>
					<td>{{ cadre_medicale.nomService }}</td>
					<td>
						<button type="button" class="btn btn-info">
							<a href="{{ path('cadre_medicale_show', {'id': cadre_medicale.id}) }}" class="userButton">show</a>
						</button>
						<button type="button" class="btn btn-primary">
							<a href="{{ path('cadre_medicale_edit', {'id': cadre_medicale.id}) }}" class="userButton">edit</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
