{% extends 'basee.html.twig' %}

{% block title %}CadreMedicale
{% endblock %}

{% block body %}
	<h1>CadreMedicale</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ cadre_medicale.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ cadre_medicale.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ cadre_medicale.prenom }}</td>
			</tr>
			<tr>
				<th>Service</th>
				<td>{{ cadre_medicale.service }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('cadre_medicale_index') }}">back to list</a>

	<a href="{{ path('cadre_medicale_edit', {'id': cadre_medicale.id}) }}">edit</a>

	{{ include('cadre_medicale/_delete_form.html.twig') }}
{% endblock %}
