{% extends 'base.html.twig' %}

{% block title %}Repas Servis index
{% endblock %}

{% block body %}
	<h1>Repas Servis index</h1>
	<a href="{{ path('app_repas_servis_index') }}">Retoure</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Regime</th>
				<th>Service</th>
				<th>Date d'entrée</th>
				<th>Date de sortie</th>

			</tr>
		</thead>
		<tbody>
			{% for repas_servi in repas %}
				<tr>
					<td>{{ repas_servi.id }}</td>
					<td>{{ repas_servi.nom }}</td>
					<td>{{ repas_servi.prenom }}</td>
					<td>{{ repas_servi.regime }}</td>
					<td>{{repas_servi.service}}</td>
					<td>{{ repas_servi.date_entree |date('d/m/Y') }}</td>
					<td>{{ repas_servi.date_sortie |date('d/m/Y') }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript"></script>
{% endblock %}
