{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h3>Utilisateur
	</h3>
	<div style="margin-bottom:2%;float:right">
		<a href="{{ path('app_user_new') }}">
			<button class="btn btn-success">Create new</button>
		</a>
	</div>
	<table class="table">
		<thead style="background-color:midnightblue;color:white;">
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Roles</th>
				<th>Password</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.roles[0] }}</td>
					<td>{{ user.password }}</td>
					<td>

						<button class="btn btn-info">
							<a href="{{ path('app_user_show', {'id': user.id}) }}" class="userButton">Show</a>
						</button>


						<button class="btn btn-primary">
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="userButton">Edit</a>
						</button>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
